{% load humanize %}
{% load i18n %}
{% load l10n %}
{% csrf_token %}
<!DOCTYPE html>
<html lang="es">
<head>
</head>
<body>

<fieldset>
    <table id="history-table" class="cesantias-table table-condensed" >
        <thead>
            <tr>
                <th>Solicitud</th>
                <th>Número Resolución</th>
                <th>Fecha Resolución</th>
                <th>Valor</th>
            </tr>
        </thead>
        <tbody>
            {% for hist in history %}
                <tr>
                    <td>{{ hist.request_ID }}</td>
                    <td>{{ hist.resolution_number }}</td>
                    <td>{{ hist.resolution_date|date:"d/m/Y" }}</td>
                    <td>{{ hist.severance_disbursed_value|default:0|intcomma }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</fieldset>

</body>
</html>
